<!DOCTYPE html>
<html>
<head>
    <title>Daftar Buku</title>
</head>
<body>
    <h1>Daftar Buku</h1>
    <table style="border: 1px solid black; border-collapse: collapse; width: 100%;">
  {% if buku_list %}
  <tr>
    <th style="border: 1px solid black;">ID</th>
    <th style="border: 1px solid black;">Judul</th>
    <th style="border: 1px solid black;">Penulis ID</th>
    <th style="border: 1px solid black;">Penerbit ID</th>
    <th style="border: 1px solid black;">Tahun Terbit</th>
    <th style="border: 1px solid black;">ISBN</th>
    <th style="border: 1px solid black;">Stok</th>
  </tr>
  {% for buku in buku_list %}
  <tr>
    <td style="border: 1px solid black;">{{ buku[0] }}</td>
    <td style="border: 1px solid black;">{{ buku[1] }}</td>
    <td style="border: 1px solid black;">{{ buku[2] }}</td>
    <td style="border: 1px solid black;">{{ buku[3] }}</td>
    <td style="border: 1px solid black;">{{ buku[4] }}</td>
    <td style="border: 1px solid black;">{{ buku[5] }}</td>
    <td style="border: 1px solid black;">{{ buku[6] }}</td>
  </tr>
  {% endfor %}
  
</table>
    {% else %}
    <p>tidak ada data buku</p>
    {% endif %}
    <p><a href="/buku">tambah buku</a></p>
</body>
</html>