<!DOCTYPE html>
<html>
<head>
    <title>Daftar Penulis</title>
</head>
<body>
    <h1>Daftar Penulis</h1>
    <table border="1">
        {% if penulis_list %}
        <tr>
            <th>ID</th>
            <th>Nama Penulis</th>
        </tr>
        {% for penulis in penulis_list %}
        <tr>
            <td>{{ penulis[0] }}</td>
            <td>{{ penulis[1] }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr><td colspan="2">Tidak ada data penulis</td></tr>
        {% endif %}
    </table>
</body>
</html>